:root{
    --cor-primaria: #f0e8c2;
    --cor-segundaria: #291B1A;;
    --cor-tercearia: #573a57;

    font-family: "Alice", serif;
    line-height: 150%;
    color: #573a57;
}
*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(/assets/bg-image.png);
    background-size: cover;
    font-family: 'Alice';
}

#page{
    box-sizing: border-box;
    width: 800px;
    padding: 24px;
    background-color: var(--cor-primaria);
    border-radius: 24px;
    margin: 48px auto;
}

img {
    border-radius: 16px;
}

#main{
    padding: 24px;
    text-align: justify;
}

#about p + p{
    margin-top: 12px;
}

#main section + section{
    margin-top: 24px;
}

h1{
    line-height: 140%;
    font-size: 40px;
    color: var(--cor-segundaria);
    margin-bottom: 4px;
}

h2{
    font-size: 24px;
    color: var(--cor-segundaria);
}

#ingredients ul, #preparation ol{
    margin: 8px 0;
    margin-left: 24px;
}

#preparation p{
    margin-top: 12px;
    text-align: justify;
}

#footer{
    color: var(--cor-primaria);
    text-align: center;
    padding-bottom: 48px;
}

#footer img{
    vertical-align: middle;
}